---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Custom ordered categories -->
{% assign ordered_cats = "conferences,manuscripts,workshops" | split: "," %}
{% for cat in ordered_cats %}
  {% assign title_shown = false %}
  {% for post in site.publications reversed %}
    {% if post.category != cat %}
      {% continue %}
    {% endif %}
    {% unless title_shown %}
      {% if site.publication_category[cat] %}
        <h2>{{ site.publication_category[cat].title }}</h2><hr />
      {% else %}
        <h2>{{ cat | capitalize }}</h2><hr />
      {% endif %}
      {% assign title_shown = true %}
    {% endunless %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}



